# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [1]:
import pandas as pd
import numpy as np
import data_cleaning_function as dc
data = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')

In [2]:
data.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [9]:
#checking the column names if there are any uppercase latters or wider spaces.
#checking if there are any missing values! 
data.isna().sum()/data.shape[0]*100

customer                         0.0
state                            0.0
customer_lifetime_value          0.0
response                         0.0
coverage                         0.0
education                        0.0
effective_to_date                0.0
employmentstatus                 0.0
gender                           0.0
income                           0.0
location_code                    0.0
marital_status                   0.0
monthly_premium_auto             0.0
months_since_last_claim          0.0
months_since_policy_inception    0.0
number_of_open_complaints        0.0
number_of_policies               0.0
policy_type                      0.0
policy                           0.0
renew_offer_type                 0.0
sales_channel                    0.0
total_claim_amount               0.0
vehicle_class                    0.0
vehicle_size                     0.0
vehicle_type                     0.0
dtype: float64

In [4]:
#dropping the Unnamed: 0 column which comes from resetting the index
data = dc.dropping_column(data,'Unnamed: 0')
#rename the columns with lowercase letters and without wider spaces.
data = dc.replace_column_lower(data,' ','_')

In [10]:
data = dc.fillna(data,'state','mode')
data = dc.fillna(data,'response','mode')
data = dc.fillna(data,'months_since_last_claim','median')
data = dc.fillna(data,'number_of_open_complaints','median')
data = dc.fillna(data,'vehicle_class','mode')
data = dc.fillna(data,'vehicle_type','mode')
data = dc.fillna(data,'vehicle_size','mode')

In [13]:
#checking the datatypes of each column to see if I have to chance it.
#months__since__last__claim -> int
#number__of__open__complaints -> int
data = dc.chance_datatype(data,'months_since_last_claim',int)
data = dc.chance_datatype(data,'number_of_open_complaints',int)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       10910 non-null  object
 1   state                          10910 non-null  object
 2   customer_lifetime_value        10910 non-null  float64
 3   response                       10910 non-null  object
 4   coverage                       10910 non-null  object
 5   education                      10910 non-null  object
 6   effective_to_date              10910 non-null  object
 7   employmentstatus               10910 non-null  object
 8   gender                         10910 non-null  object
 9   income                         10910 non-null  int64
 10  location_code                  10910 non-null  object
 11  marital_status                 10910 non-null  object
 12  monthly_premium_auto           10910 non-null  int64
 13  months_since_last_claim        10910 non-null  int32
 14  months_since_policy_inception  10910 non-null  int64
 15  number_of_open_complaints      10910 non-null  int32
 16  number_of_policies             10910 non-null  int64
 17  policy_type                    10910 non-null  object
 18  policy                         10910 non-null  object
 19  renew_offer_type               10910 non-null  object
 20  sales_channel                  10910 non-null  object
 21  total_claim_amount             10910 non-null  float64
 22  vehicle_class                  10910 non-null  object
 23  vehicle_size                   10910 non-null  object
 24  vehicle_type                   10910 non-null  object
dtypes: float64(2), int32(2), int64(4), object(17)
memory usage: 2.0+ MB

In [14]:
#display all unique values of every categrical column to see of there are typos or 
#different words for the same meaning like 'F' 'f' 'female'.
#I could group the type of vehicle class for 'Sports Car', 'Luxury Car','Luxury SUV' but I dont do it 
#because its had not explicit sayed.
for col in data.select_dtypes(object):   
    display(col,data[col].unique())

'customer'

array(['DK49336', 'KX64629', 'LZ68649', ..., 'KX53892', 'TL39050',
       'WA60547'], dtype=object)

'state'

array(['Arizona', 'California', 'Washington', 'Oregon', 'Nevada'],
      dtype=object)

'response'

array(['No', 'Yes'], dtype=object)

'coverage'

array(['Basic', 'Extended', 'Premium'], dtype=object)

'education'

array(['College', 'Bachelor', 'High School or Below', 'Doctor', 'Master'],
      dtype=object)

'effective_to_date'

array(['2/18/11', '1/18/11', '2/10/11', '1/11/11', '1/17/11', '2/14/11',
       '2/24/11', '1/19/11', '1/4/11', '1/2/11', '2/7/11', '1/31/11',
       '1/26/11', '2/28/11', '1/16/11', '2/26/11', '2/23/11', '1/15/11',
       '2/2/11', '2/15/11', '1/24/11', '2/21/11', '2/22/11', '1/7/11',
       '1/28/11', '2/8/11', '2/12/11', '2/20/11', '1/5/11', '2/19/11',
       '1/3/11', '2/3/11', '1/22/11', '1/23/11', '2/5/11', '2/13/11',
       '1/25/11', '2/16/11', '2/1/11', '1/27/11', '1/12/11', '1/20/11',
       '2/6/11', '2/11/11', '1/21/11', '1/29/11', '1/9/11', '2/9/11',
       '2/27/11', '1/1/11', '2/17/11', '2/25/11', '1/13/11', '1/6/11',
       '2/4/11', '1/14/11', '1/10/11', '1/8/11', '1/30/11'], dtype=object)

'employmentstatus'

array(['Employed', 'Unemployed', 'Medical Leave', 'Disabled', 'Retired'],
      dtype=object)

'gender'

array(['M', 'F'], dtype=object)

'location_code'

array(['Suburban', 'Urban', 'Rural'], dtype=object)

'marital_status'

array(['Married', 'Single', 'Divorced'], dtype=object)

'policy_type'

array(['Corporate Auto', 'Personal Auto', 'Special Auto'], dtype=object)

'policy'

array(['Corporate L3', 'Personal L3', 'Personal L2', 'Corporate L2',
       'Personal L1', 'Special L1', 'Corporate L1', 'Special L3',
       'Special L2'], dtype=object)

'renew_offer_type'

array(['Offer3', 'Offer4', 'Offer2', 'Offer1'], dtype=object)

'sales_channel'

array(['Agent', 'Call Center', 'Branch', 'Web'], dtype=object)

'vehicle_class'

array(['Four-Door Car', 'SUV', 'Two-Door Car', 'Sports Car', 'Luxury Car',
       'Luxury SUV'], dtype=object)

'vehicle_size'

array(['Medsize', 'Small', 'Large'], dtype=object)

'vehicle_type'

array(['A'], dtype=object)

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [20]:
new_data = data[(data['total_claim_amount']>1000) & (data['response'] == 'Yes')]
new_data.shape

(67, 25)

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [27]:
pd.pivot_table(data, index=['policy_type','gender'], values=['total_claim_amount'], aggfunc='mean')

                       total_claim_amount
policy_type    gender
Corporate Auto F               397.799287
               M               462.223565
Personal Auto  F               413.239658
               M               459.919476
Special Auto   F               458.139623
               M               420.355202

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here